@media (min-width:1301px){
  .body{
    align-items:flex-start;
    justify-content:center;
  }
  

  .desktop-border-container{
    top:0;
  }

  .tars-logo{
    top:0px;
    left:0px;
  }
  
  .nav-menu{
    display:none;
  }

  .content{
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
  }

  .third-line{
    width:60%;
  }
}


@media (min-width:851px) and (max-width:1300px){
  body{
    align-items:flex-start;
    justify-content:center;
  }

  .desktop-border-container {
    padding-left:24px;
    padding-right:24px;
    margin:15px;
    top:0px;
    min-height:80vh;
    max-height:200vh;
  
  }

  .dsk-border{
    width:100%;
    height:100%;
    object-fit:fill;
  }
  
  .nav-menu{
    display:none;
  }

  .nav-bar{
    width:50%;
    font-size:1.3vw;
    gap:15px;
    right:4%;
    height:1.2vw;
    top:1%;
  }

  .tars-logo{
    position:absolute;
    top:1%;
    font-size:5.1vw;
  }

  .logo{
    flex-direction:row;
    width:30%;
    right:10%;
  }

  .content{
    top:40%;
  }

  .first-line{
    font-size:3.5vh;
}

.second-line{
  font-size:6vh;
  padding:0;
  padding-bottom:15px;
}

.third-line{
  font-size:3vh;
  max-width:650px;
  width:85%;
}
}

@media (min-width: 851px) and (max-width: 960px) {
  .first-line  { font-size: 18px; }  
  .second-line { font-size: 32px; }  
  .third-line  { font-size: 12px;
  width:70%; }  
}



@media(min-width:600px) and (max-width:850px){

  body{
    align-items:flex-start;
    justify-content:center;
  }

  .desktop-border-container {
    margin-left:20px;
    margin-right:20px;
    top:0px;
  }

  .nav-bar{
    display:none;
  }

  .tars-logo{
    font-size:9vw;
    top:0;
    left:2%;
  }

  .nav-menu{
    font-size:7vw;
  }

  .content{
  flex-direction:column;
  justify-content: center;
  align-items:flex-start;
  width:65%;
  display:flex;
  flex-direction: column;
  top:60%;
}

  .first-line{
    font-size:3vh;
  }

  .second-line{
    font-size:5vh;
  }

  .third-line{
    font-size:2vh;
  }

  .logo{
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:45%;
    height:45%;
    left:27.5%;
    top:12%;
  }
}


@media(max-width:599px){
  body{
    align-items:flex-start;
    justify-content:center;
    padding-top:25px;
  }
  .desktop-border-container {
    margin:10px;
    top:0;
  }

  .nav-bar{
    display:none;
  }

  .tars-logo{
    font-size:9vw;
    top:0;
  }

  .nav-menu{
    font-size:8vw;
    right:5%;
  }

  .logo{
    width:40%;
    right:30%;
  }

  .content{
    padding-top:40px;
  }

  .first-line  { font-size: 13px;
   }  

  .second-line { font-size: 25px;
  width:90% 
  }  

  .third-line  { font-size: 12px;
  width:70%; 
}  
}